body {
   background-color: rgb(90, 83, 75);
   color: white;
   font-size: 18px;
}

.Principal {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
img {
    background-color: white;
    max-width: 100%;
    height:auto;
    border-radius: 25%;
}